.masthead-title a {
    font-family: 'Condiment', cursive;
}

.masthead-title {
    font-family: 'Kotta One', serif;
}

.post {
    font-family: 'Alef', sans-serif;
}

.post-title {
	font-family: 'Belgrano', serif;
}

.post-date {
    font-family: 'Rajdhani', sans-serif;
}