.masthead-title a {
    font-family: 'Condiment', cursive;
}

h3.masthead-title small {
    font-family: 'Kotta One', serif;
}

.post {
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Belgrano', serif;
}

.post-date, h3 small {
    font-family: 'Rajdhani', sans-serif;
    font-weight: normal;
}